package pages

import "geocity/static/pages/templates"

templ Index() {
	@templates.Base(templates.DefaultBase()) {
		<body>
			<h1>Welcome to the McWeb</h1>
			<p>Lots of cool things to come!</p>
		</body>
	}
}
