package zoomer

templ Zoomer() {
	<div
		href="/spooky"
		class="twirl"
	>
		<a href="/gaming">
			<img
				src="media/smash_ball.gif"
				height="50"
				width="50"
				class="dvd"
			/>
		</a>
	</div>
}
