package pong

import "fmt"

css offset(x int, y int) {
	height: { fmt.Sprintf("%drem", x) };
	width: { fmt.Sprintf("%drem", y) };
}

templ PlayerPaddle() {
	<div id="player_paddle" class={ offset(10, 10) }>
		<div
			class="bg-white absolute"
		>.</div>
	</div>
}
