.rainbow {
  animation: colorRotate 6s linear 0s infinite;
  /* animation: spin 10s linear infinite; */
}

.twirl {
  animation: rotation 2s infinite linear;
}

.tilt:hover {
  transform: rotate(-10deg);
}

.flip {
  transform: scaleX(-1);
}

.

@keyframes boingo {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

.animate-boingo {
  animation: boingo 1s infinite;
}


.animate-wallbounce {
  animation: wallbounce 1s infinite;
}

.animate-jetger {
  animation: Jetger 6s infinite;
}

/* animation of the image bouncing around */
@keyframes wallbounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes colorRotate {
  from {
    color: #4CC9F0;
  }
  10% {
    color: #D90368;
  }
  50% {
    color: #C5283D;
  }
  75% {
    color: #FFD97D;
  }
  100% {
    color: #04A777;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* .box{ */
/*   position: relative; */
/* } */

.dvd {
  position: absolute;
  -webkit-animation: moveX 4s linear 2s infinite alternate, moveY 1.4s linear 2s infinite alternate;
  -moz-animation: moveX 4s linear 2s infinite alternate, moveY 1.4s linear 2s infinite alternate;
  -o-animation: moveX 4s linear 2s infinite alternate, moveY 1.4s linear 2s infinite alternate;
  animation: moveX 4s linear 2s infinite alternate, moveY 1.4s linear 2s infinite alternate;
}

@-webkit-keyframes moveX {
  from { left: 0; } to { left: 480px; }
}
@-moz-keyframes moveX {
  from { left: 0; } to { left: 480px; }
}
@-o-keyframes moveX {
  from { left: 0; } to { left: 480px; }
}
@keyframes moveX {
  from { left: 0; } to { left: 480px; }
}

@-webkit-keyframes moveY {
  from { top: 0; } to { top: 280px; }
}
@-moz-keyframes moveY {
  from { top: 0; } to { top: 280px; }
}
@-o-keyframes moveY {
  from { top: 0; } to { top: 280px; }
}
@keyframes moveY {
  from { top: 0; } to { top: 280px; }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
